  services:
    elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch:8.8.2
      ports:
        - "9200:9200"
      environment:
        - discovery.type=single-node
        - xpack.security.enabled=false
        - xpack.security.http.ssl.enabled=false
        - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
