<!-- templates/owner/sidebar.mustache -->
<div class="list-group list-group-flush">
    <a href="/owner/reviews" class="list-group-item list-olive {{#tabOwnerReviews}}active{{/tabOwnerReviews}}">리뷰 관리</a>
    <a href="/owner/shops" class="list-group-item list-olive {{#tabOwnerShops}}active{{/tabOwnerShops}}">매장 관리</a>
    <a href="/owner/reservations" class="list-group-item list-olive {{#tabOwnerReservations}}active{{/tabOwnerReservations}}">예약 관리</a>
    <a href="/owner/shops/new" class="list-group-item list-olive {{#tabOwnerShopsNew}}active{{/tabOwnerShopsNew}}">가게 등록</a>
</div>
